{% extends "layout.html" %}

{% block title %}
<title>Regresión lineal cuadrada</title>
{% endblock %}

{% block content %}

<div class="container">
    <legend class="text-left header">Formulario</legend> <br>
    <legend class="text-center header">Regresión lineal cuadrada</legend><br>
    <div class="card">
        <form enctype="multipart/form-data" method="POST" action="{{url_for('calcularRegresionLinealCuadrada')}}"><br>
            <div class="col-sm-12">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleFormControlFile1">Entrada del archivo (.xlsx)</label>
                        <!-- <a class="btn btn-warning float-right"
                            href="{{url_for('static', filename='file/template3.xlsx')}}" role="button">Descargar
                            plantilla</a> -->
                        <input name="file" type="file" class="form-control" id="exampleFormControlFile1"
                            required>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            El archivo Excel debe de contener dos columnas, una columna "X" (ej: 1850, 1860, 1870, ...)
                            y una columna "Y" que haga referencia al período en que se encuentra (ej: 23.2, 31.4, 39.8,
                            ...). Puede descargar la plantilla de ejemplo dando clic en el botón "Descargar plantilla".
                        </small>
                    </div>
                </div>
                <button class="btn btn-outline-danger" type="submit">Calcular</button>

            </div>
        </form><br>
    </div>
</div><br>
{% endblock %}